body {
  background-image: url('imgs/jogos.jpg');
  background-size: cover; 
  background-position: center; 
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.logo {
  max-width: 120px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.container {
  background: rgba(216, 200, 200, 0.6);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.content h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

button {
  background: linear-gradient(135deg, #e1cb03, #62048d);
  border: none;
  padding: 12px 25px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 5px;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

footer {
  position: absolute;
  bottom: 10px;
  font-size: 0.9em;
  background-color: rgba(193, 18, 209, 0.908); 
  color: rgb(11, 11, 11); 
  padding: 10px 20px; 
  border-radius: 5px; 
  width: 100%;
  text-align: center; 
}


.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  color: #333;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.choices button {
  width: 100px;
}

#resultado {
  margin-top: 20px;
  font-weight: bold;
}

.close-btn {
  background: linear-gradient(135deg, #03b5e1, #62048d);
  color: white;
  margin-top: 20px;
}